html, body {
    height:100%;
    margin:0;
    overflow: hidden;
}


#webgl_canvas_container {
    float:left;
    width:100%;
    height:100%;
}

#webgl_canvas_container p {
    text-align: center;
    margin-top: 64px;
    font-size: 16px;
    color: #5E5E5E;
}
#webgl_canvas_container p img {
    margin-top: 18px;
}


#webgl_status_bar {
    width: 100%;
    text-align: right;
    font-size: 9px;
    float: left;
    border: solid 1px #e4e4e4;
    height: 22px;
}

#webgl_status_bar_content {
    margin: 4px 3px;
    float: left;
    font-size: 10px;
    height: 15px;
    text-align: left;  
}

#webgl_status_bar_buttoncompare_simple {
    float:right;
    margin: 4px 5px;
    height: 15px;
    width: 240px;
}

#webgl_status_bar_buttoncompare_simple a {
    font-size: 12px;
}


.eexcess-bookmark-dropdown-list .webgl_select_content a {
    width: 104px;
}
.eexcess-bookmark-dropdown-list .webgl_select_content a:hover {
    background: rgb(255, 254, 238);
}
.eexcess-bookmark-dropdown-list .webgl_select_content, .eexcess-bookmark-dropdown-list .webgl_select_content span {
    color: black;
    float: left;
    width: 100%;
    font-size: 9px;
}

.eexcess-bookmark-dropdown-list .webgl_select_content a, .eexcess-bookmark-dropdown-list .webgl_select_content input {
    float:left;
}

.wrapper-dropdown .dropdown {
    max-height:none!important;

}

#eexcess_controls #webgl_plugin_info {
    height: 285px;
    width: auto;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #e4e4e4;
}

#eexcess_controls #webgl_plugin_info #webgl_info_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #008746;
}

#eexcess_controls #webgl_plugin_info #webgl_info_content {
    text-align: left;
}